body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#ff7700;
  font-family: Arial, sans-serif;
}

.card {
  background: linear-gradient(24deg, #f0f9ff, #ffffff);;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  width: 220px;
}

button {
  background: #ff7a28;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  absolute;
  bottom : 20px;

}

button:hover {
  opacity: 0.6;
}